{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'img/slider2.png' %}" height="150px" class="d-block w-100" alt="slider image">
        <div class="carousel-caption d-none d-md-block">
          <h5>رعایت ادب</h5>
          <p>آنوچت یک پلتفرم گفت و گو برای همه افراد جامعه است پس رعایت ادب حرف اولو میزنه</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'img/slider2.png' %}" height="150px" class="d-block w-100" alt="slider image">
        <div class="carousel-caption d-none d-md-block">
          <h5>تجربه راحت شما هدف ماست</h5>
          <p>اگه مشکلی در استفاده از انو چت داشتین یا سوالس یراتون پیش اومد خوش حال میشیم بات ما درمیون بزارید</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/slider3.png' %}" height="150px" class="d-block w-100" alt="slider image">
        <div class="carousel-caption d-none d-md-block">
          <h5>بزن بریم برای چت</h5>
          <p>می تونید یک اتاق به اسم دلخواه یا به صورت تصادفی ایجاد کنید و اونو با دوستاتون به اشتراک بزارید.برای اطلاعات بیشتر راهنمای سایت مطالعه فرمایید.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mb-3">
    <label for="room-name-input" class="form-label">کدوم اتاق میخوای بری؟</label>
    <input id="room-name-input" type="text" size="100" class="form-control" placeholder="اگه لینک دعوت داری همینجا وارد کن.">
</div>

<div class="mb-3">
    <button id="random-generator" type="submit" class="btn btn-outline-primary">رندوم</button>
    <button id="room-name-submit" type="submit" class="btn btn-primary">ورود</button>
</div>


{% endblock body %}

{% block js %}
<script>
document.querySelector('#room-name-input').focus();          

document.querySelector('#room-name-input').onkeyup = function(e) {
  if (e.keyCode === 13) {  // enter, return
      document.querySelector('#room-name-submit').click();
  }
};

document.querySelector('#room-name-submit').onclick = function(e) {
  var roomName = document.querySelector('#room-name-input').value;
  if (roomName){
      window.location.pathname = '/chat/' + roomName + '/';
  }
};
document.querySelector('#random-generator').onclick = function(e) {
  document.querySelector('#room-name-input').value = uuidv4();
};
function uuidv4() {
  return ([1e7]+1e3+4e3+8e3+1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}
</script>
{% endblock js %}