{% extends 'base.html' %}

{% block body %}
{% comment %} <textarea id="chat-log" class="form-control" cols="100" rows="20" readonly="readonly">
{% for chat in chats %}
{% if chat.username == request.user.username %}{{chat.content}} : من{% else %}{{chat.content}} : {{chat.username}}{% endif %}
{% endfor %}
</textarea> {% endcomment %}
{% for chat in chats %}
{% if chat.username == request.user.username %}
<div class="chat-messages">
    <div class="message-box-holder">
        <div class="message-box">
        {{chat.content}}
        </div>
    </div> {% comment %} comment yhis </div>  :) {% endcomment %} 
</div>
{% else %}
<div class="message-box-holder">
    <div class="message-sender">
        {{chat.username}}
    </div>
    <div class="message-box message-partner">
        {{chat.content}}
    </div>
</div>
{% endif %}
{% endfor %}
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="chat-message-input" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="chat-message-submit">ارسال</button>
</div>
{% endblock body %}

{% block js %}
{{ room_name|json_script:"room-name" }}
<script>
    {% if request.user.is_anonymous %}
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    ano_user_cookie = getCookie('anonymoususer')
    if (ano_user_cookie == null || ano_user_cookie == undefined){
        var now = new Date();
        now.setTime(now.getTime() + 1 * 3600 * 1000);
        id = uuidv4()
        document.cookie = `anonymoususer=anonymous-user-${id};path=/;expires=` + now.toUTCString() + ";";
        alert('ما برای تجربه بهتر در استفاده از سایت از کوکی استفاده میکنیم ')
    }
    function uuidv4() {
        return ([1e7]+1e3).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
        } 
    {% endif %}
</script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    {% comment %} chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'message': 'joined.'
        }));;
    }; {% endcomment %}

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        {% comment %} document.querySelector('#chat-log').value += (data.message + '\n'); {% endcomment %}
        if (data.username == '{{request.user.username}}') {
            $('.input-group').before(`<div class="chat-messages"><div class="message-box-holder"><div class="message-box">${data.message}</div></div></div>`)
        } else {
            $('.input-group').before(`<div class="message-box-holder"><div class="message-sender">${data.username}</div><div class="message-box message-partner">${data.message}</div></div>`)
            
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
        document.querySelector('#chat-message-input').focus();
    };
</script>
{% endblock js %}

