{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block body %}
{% for chat in chats %}
    {% if chat.username == request.user.username or chat.username == ano_user_name %}
    <div class="chat-messages">
        <div class="message-box-holder">
            <div class="message-box">
            {{chat.content}}
            </div>
        </div>
    </div>
    {% else %}
    <div class="message-box-holder">
        <div class="message-sender">
            {{chat.username}}
        </div>
        <div class="message-box message-partner">
            {{chat.content}}
        </div>
    </div>
    {% endif %}
{% endfor %}
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="chat-message-input" placeholder="پیام خود را وارد کنید" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="chat-message-submit">ارسال</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">اشتراک گذاری اتاق با دیگران</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        {% post_to_telegram 'hi. im waitaing for you!' request.get_full_path '<img title="Telegram"  alt="telegram icon" src="/static/img/Telegram_icon.png" >'  %}
                    </div>
                    <div class="col-sm-4">
                        {% post_to_whatsapp  request.get_full_path '<img title="WhatsApp"  alt="whatsapp icon" src="/static/img/WhatsApp_icon.png" >'  %}
                    </div>
                    <div class="col-sm-4">
                        {% post_to_twitter 'hi. im waitaing for you!' request.get_full_path '<img title="Twitter"  alt="twitter icon" src="/static/img/Twitter_icon.png" >'  %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="copyToClipboard('#copy-to-clipboard')" data-copy-url="{{request.get_full_path}}" id="copy-to-clipboard" class="btn btn-primary">ذخیره در کیبرد</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block li %}

<li class="nav-item">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            تنظیمات بیشتر
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item">
                <a class="dropdown-item" href="javascript:void(0);">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        اشتراک گذاری
                    </button>
                </a>
            </li>
            {% if room.creator_username == request.user.username or room.creator_username == ano_user_name %}
            <li>
                <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" id="door-lable-id" for="flexSwitchCheckDefault">{% if room.is_locked %}در بسته است!{% else %}در باز است!{% endif %}</label>
                    </div>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</li>
{% endblock li %}

{% block js %}
{{ room.name|json_script:"room-name" }}
<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).data('copy-url')).select();
  document.execCommand("copy");
}
$("#flexSwitchCheckDefault").click(function(){
    $.ajax({
        type : 'GET',
        data : {'room_id': '{{room.id}}'},
        dataType : 'json',
        url : "{% url 'chat:change_lock' %}",
        success : function (data) {
            $('#door-lable-id').text(data.msg)
        },  
        error: function(data){
            alert(data.msg);
        }                                
    })   
})
</script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.username == '{{request.user.username}}' || data.username == '{{ano_user_name}}') {
            $('.input-group').before(`<div class="chat-messages"><div class="message-box-holder"><div class="message-box">${data.message}</div></div></div>`)
        } else {
            $('.input-group').before(`<div class="message-box-holder"><div class="message-sender">${data.username}</div><div class="message-box message-partner">${data.message}</div></div>`)
            
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
        document.querySelector('#chat-message-input').focus();
    };
</script>
{% endblock js %}

