{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock title %}</title>
    
    <link rel="shortcut icon" href="#">
    <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.rtl.min.css.map' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

    {% block css %}{% endblock css %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% comment %} <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="جست و جو" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">برو</button>
                </form> {% endcomment %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat/">خانه</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'chat:sign-out' %}">خروج</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'chat:sign-in' %}">ورود</a>
                </li>
                {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">راهنمای سایت</a>
                  </li>
                  {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> {% endcomment %}
                  {% block li %}{% endblock li %}
                </ul>
            </div>
          <a class="navbar-brand" href="#">AnoChat</a>
        </div>
    </nav>
    <div class="container" id="main-container">
    {% block body %}{% endblock body %}
    </div>
    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>لینک های مفید</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">خانه</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">خروج</a></li>
                {% else %}
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ورود</a></li>
                {% endif %}
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">راهنمای سایت</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">درباره ما</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>اتاق های جذاب</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">?</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">?</a></li>
              </ul>
            </div>
      
            <div class="col-2">
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>خبرنامه آنوچت</h5>
                <p>برای اطلاع از اخبار و بروزرسانی های آنوچت میتونی ایمیلتو ثبت کنی</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="به زودی">
                  <button class="btn btn-primary" type="button" disabled>عضویت</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2023 تمام حقوق این سایت محفوض میباشد</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'img/Telegram_icon.png' %}" width="20px"></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'img/Twitter_icon.png' %}" width="20px"></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><img src="{% static 'img/WhatsApp_icon.png' %}" width="25px"></a></li>
            </ul>
          </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.js.map' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script>
      {% if request.user.is_anonymous %}
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      ano_user_cookie = getCookie('anonymoususer')
      if (ano_user_cookie == null || ano_user_cookie == undefined){
          var now = new Date();
          now.setTime(now.getTime() + 1 * 3600 * 1000);
          id = uuidv4()
          document.cookie = `anonymoususer=anonymous-user-${id};path=/;expires=` + now.toUTCString() + ";";
          alert('ما برای تجربه بهتر در استفاده از سایت از کوکی استفاده میکنیم ')
      }
      function uuidv4() {
          return ([1e7]+1e3).replace(/[018]/g, c =>
              (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          );
          } 
      {% endif %}
    </script>
    {% block js %}{% endblock js %}
</body>
</html>